{% extends "core/base.html" %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-6">
        <h1>
            {% block titulo %} Tarefas de Cliente {% endblock %}
        </h1>
    </div>
    <div class="col-12 col-md-6">
        {% block botao %} {% endblock %}
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3 form-group">
        <b>CNPJ</b>
        <input type="text" disabled value="{{ cliente.cnpj|default_if_none:'' }}" style="width: 100%">
    </div>
    {% if usuario %}
    <div class="col-12 col-md-6 form-group">
        <b>Nome do Cliente</b>
        <input type="text" disabled value="{{ cliente.nome|default_if_none:'' }}" style="width: 100%">
    </div>
    <div class="col-12 col-md-3 form-group">
        <b>Usuário</b>
        <input type="text" disabled value="{{ usuario|default_if_none:'' }}" style="width: 100%">
    </div>
    {% else %}
    <div class="col-12 col-md-9 form-group">
        <b>Nome do Cliente</b>
        <input type="text" disabled value="{{ cliente.nome|default_if_none:'' }}" style="width: 100%">
    </div>
    {% endif %}
</div>

{% block conteudo %}        {% endblock %}


{% endblock %}