<!doctype html>

{% load static %}
{% load bootstrap %}
<!--{% load crispy_forms_tags %}-->

<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="Sistema de Gerenciamento"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block titulo %} Compliance {% endblock %} </title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.js"></script>

    <script language=javascript type="text/javascript">
function abrirJanela(pagina, largura, altura) {
    var esquerda = (screen.width - largura)/2;
    var topo = (screen.height - altura)/2;
    minhaJanela = window.open('https://127.0.0.1:8000/' + pagina,'','height=' + altura + ', width=' + largura + ', top=' + topo + ', left=' + esquerda);
}

    </script>

    <script>
    jQuery(function($){
        $("#campoData").mask("99/99/9999");
        $("#campoTelefone").mask("(999) 999-9999");
        $("#campoSenha").mask("***-****");
    });

    </script>

    <script>   {% block script %} {% endblock %}

        $(document).ready(function() {
            $("#success-alert").fadeTo(3000, 1000).slideUp(1000, function() {
              $("#success-alert").slideUp(5000);
            });
        });

        function confirma(pergunta) {
            var agree=confirm(pergunta);
            if (agree)
                return true ;
            else
            return false ;
        }

        function upperCaseF(a){
            setTimeout(function(){
                a.value = a.value.toUpperCase();
            }, 1);
        }

$(document).ready(function(){
    $('.date').mask('00/00/0000')
});

    </script>

</head>

<body>

<label></label>

<div class="container">

    <div id="content">
        {% include 'accounts/messages.html' %}
        {% include 'core/menu.html' %}
        {% block content %}     {% endblock %}
    </div>

    {% block footer %}
    <footer id="footer" style="bottom: 10px;">
        <div style="text-align: right;">
            <span style="color: #cccccc">
            Copyright © 2021 Assist Sistemas
            </span>
        </div>
    </footer>
    {% endblock %}

</div>

</body>

</html>