{% extends "base.html" %}

{% load bootstrap %}

{% block titulo %} Tarefa {% endblock %}

{% block content %}

<form method="POST" xmlns="http://www.w3.org/1999/html">

    {% csrf_token %}

    <h1>Relatório de Tarefas</h1>

    <div style="text-align: right; margin-top: -20px">
        <input type="submit" class="btn btn-warning" value="Filtrar dados">
        <input formtarget="_blank" {% if not lista %} disabled {% endif %} type="submit" class="btn btn-warning" value="Imprimir" name="btn_imprimir">
<!--        <input formtarget="_blank" type="submit" class="btn btn-warning" value="Imprimir" name="btn_imprimir">-->
    </div>
    </br>
    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Situação da Tarefa</label>
        </div>
        <div class="col-12 col-md-9">
            <select class="form-control" name="situacao">
                <option {% if situacao == "0" %} selected {% endif %} value="0">Não iniciado</option>
                <option {% if situacao == "1" %} selected {% endif %} value="1">Em produção</option>
                <option {% if situacao == "2" %} selected {% endif %} value="2">Atualizado no cliente</option>
                <option {% if situacao == "3" %} selected {% endif %} value="3">Encerrada</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Usuário atual da tarefa</label>
        </div>
        <div class="col-12 col-md-9">
            <select class="form-control" name="usuario">
                {% for u in user_list %}
                <option value="{{u.value}}" {% if u.value == usuario %} selected{% endif %}>{{u.label}}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Módulo ou sistema</label>
        </div>
        <div class="col-12 col-md-9">
            <select class="form-control" name="modulo">
                {% for m in modulo_lista %}
                <option value="{{m.value}}" {% if m.value == modulo %} selected{% endif %}>{{m.label}}
                </option>
                </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Empresa cliente</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="text" class="form-control" name="nome" value="{{nome}}">
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Período inicial</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="date" name="data_inicial" value="{{data_inicial}}" required>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3" style="text-align: right">
            <label>Período final</label>
        </div>
        <div class="col-12 col-md-9">
            <input type="date" name="data_final" value="{{data_final}}" required>
        </div>
    </div>

    {% if lista %}
    <div style="margin-top: 10px" class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Número</th>
                <th>Tarefa</th>
                <th>Módulo</th>
                <th>Data</th>
                <th width="30%">Empresa</th>
                <th width="50"></th>
            </tr>
            </thead>
            <tbody>
            {% for tar in lista %}
            <tr>
                <td>{{ tar.identificador }}</td>
                <td>{{ tar.resumo }}</td>
                <td>{{ tar.modulo }}</td>
                <td>{{ tar.data|date:"d/m/Y"}}</td>
                <td>{{ tar.nome }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include "core/paginacao.html" %}
    </div>
    {% else %}
    <p  style="float: right; color: red">sem registros para visualizar</p>
    {% endif %}

</form>

{% endblock %}