{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="POST" enctype="multipart/form-data">

    {% csrf_token %}

    <div style="text-align: right; margin-top: 10px">

        <a href="{% url 'url_cliente_update' cliente.id %}">
            <button type="button" class="btn btn-secondary btn-sm">
                <i class="fas fa-user"></i>Cliente
            </button>
        </a>

        {% if modo != 'LISTA' %}
        <a href="{% url 'url_cliente_consentimento' cliente.id %}">
            <input type="button" class="btn btn-secondary" value="Limpar">
        </a>
        {% endif %}

        {% if modo == 'LISTA' %}
        <input type="submit" class="btn btn-danger" value="Solicitar"
               id="btn_solicita" name="btn_solicita">
        <input type="submit" value="Formulário" name="btn_formulario"
               class="btn btn-success" title="formulário manual">
        <input type="submit" value="Enviar ficha" name="btn_enviar_ficha"
               class="btn btn-info">
        {% endif %}

        {% if modo == 'SOLICITA' %}
        <input type="submit" value="Enviar solicitação" name="btn_enviar"
               class="btn btn-danger"
               onClick='return confirma("Confirma o envio da requisição?")'>
        {% endif %}

        {% if modo == 'FICHA' %}
        <input formtarget="_blank" type="submit" value="Imprimir ficha" name="btn_imprmir"
               class="btn btn-secondary">
        <input type="submit" value="Enviar ficha" name="btn_enviar_ficha"
               class="btn btn-info">
        {% endif %}

        {% if modo == 'ANEXO' %}
        <input type="submit" value="Enviar arquivo" name="btn_upload" class="btn btn-danger"
               onClick='return confirma("Confirma o envio de anexo para consentimento?")'>
        {% endif %}

    </div>

    <h2>LGPD - Consentimento de Dados</h2>
    <p>
        {{cliente.nome}}</br>
        CNPJ: {{cliente.cnpj}}
    </p>

    {% if modo == 'ANEXO' %}

    {% include "lgpd/consentimento_upload.html" %}

    {% endif %}

    {% if modo == 'SOLICITA' or modo == 'FICHA' %}

    <div class="row">
        <div class="col-12 col-md-4 form-group">
            <label>Nome completo</label>
            <input value="{{nome}}" required autofocus type="text" name="nome" class="form-control">

            <label>CPF</label>
            <input value="{{cpf}}" required type="text" name="cpf" maxlength="11" minlength="11"
                   class="form-control">

            {% if modo == 'SOLICITA' %}
            <label>E-mail</label>
            <input value="{{ email }}" required type="email" name="email" class="form-control">
            {% endif %}

            {% if modo == 'FICHA' %}
            <label>Identidade</label>
            <input value="{{ identidade }}" required type="text" name="identidade" class="form-control">

            <label>Nacionalidade</label>
            <input value="{{ nacionalidade }}" required type="text" name="nacionalidade" class="form-control">

            <label>Estado civil</label>
            <input value="{{ estadocivil }}" required type="text" name="estadocivil" class="form-control">
            {% endif %}

        </div>

        <div class="col-12 col-md-8 form-group">
            {% if consentimentos %}
            <h5>Itens de Consentimento</h5>
            {% for c in consentimentos %}
            <div>
                <input type="checkbox" id="{{c.tipo}}" name="{{c.tipo}}">
                <label for="{{c.tipo}}">{{c.valor}}</label>
            </div>
            {% endfor %}
            {% else %}
            <p style="color: red">não foi possível obter a lista de consentimentos</p>
            {% endif %}
        </div>

    </div>

    <input value="{{ finalidade_1 }}" required type="text" name="finalidade_1"
           placeholder="finalidade de tratamento" class="form-control">
    <input value="{{ finalidade_2 }}" type="text" name="finalidade_2" placeholder="finalidade de tratamento"
           class="form-control">
    <input value="{{ finalidade_3 }}" type="text" name="finalidade_3" placeholder="finalidade de tratamento"
           class="form-control">

    {% endif %}

    {% if modo == 'LISTA' %}
    {% if lista %}
    <div class="table-responsive" style="margin-top: 15px">
        <table class="table table-striped">
            <tr>
                <th width="150">Incluido em</th>
                <th width="150">Atualizado em</th>
                <th width="150">Autorizado em</th>
                <th width="150">Revogado em</th>
                <th>CPF</th>
                <th>Nome</th>
                <th></th>
            </tr>
            {% for n in lista %}
            <tr>
                <td>{{ n.created_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ n.updated_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ n.autorizado_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ n.revogacao_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ n.cpf }}</td>
                <td>{{ n.nome }}</td>
                <td>
                    {% if n.arquivo %}
                    <a href="{% url 'url_download_s3' n.url_arquivo %}" target="_blank">
                        <button type="button" class="btn btn-sm" title="abrir arquivo">
                            <i class='fas fa-file-pdf'></i>
                        </button>
                    </a>
                    {% else %}
                    <button type="button" class="btn btn-sm" title="visualizar dados"
                            onclick="window.open('{% url 'lgpd_dados_id' n.pk %}','popup','width=800,height=600'); return false;">
                        <i class="fas fa-address-book"></i>
                    </button>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p style="color: red">Não foram identificados registros em seu controle</p>
    {% endif %}
    {% endif %}

</form>

{% endblock %}