<p style="color: #a6a6a6; font-size: 0.875em;"> O Titular tem direito a obter do Controlador, em relação aos
    dados por ele tratados,
    a qualquer momento e
    mediante requisição: I – confirmação da existência de tratamento; II – acesso aos dados;
    III - correção de dados incompletos, inexatos ou desatualizados; IV - anonimidade, bloqueio ou
    eliminação de
    dados desnecessários, excessivos ou tratados em desconformidade com o disposto na
    Lei nº 13.709; V - portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição
    expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e
    industrial;
    VI – eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas hipóteses
    previstas
    no
    art. 16 da Lei nº 13.709; VII – informação das entidades
    Públicas e privadas com as quais o controlador realizou uso compartilhado de dados; VIII – informação
    sobre
    a
    possibilidade de não fornecer consentimento e sobre as consequências da negativa; IX - revogação do
    consentimento, nos termos do § 5º do art. 8º da Lei nº 13.709.</p>