<!DOCTYPE html>
<html lang="br" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Termo</title>
    <style type="text/css">
            body {
                font-weight: 200;
                font-size: 14px;
            }
            .pgrid {
                background-color: LightGrey;
                border-style: solid;
                padding: 5px
            }
            .titulo {
                text-align: center;
                font-size: 20px;
            }

    </style>
</head>
<body>

<h3 class="titulo">TERMO DE CONSENTIMENTO PARA TRATAMENTO DE DADOS PESSOAIS</h3>

<p class="pgrid">
    <b>{{controlador_nome}}</b>, com sede {{controlador_endereco}}, com Cadastro Nacional de Pessoa Jurídica (CNPJ), nº
    {{controlador_cnpj}}, doravante denominada <b>CONTROLADORA</b>.
</p>

<p class="pgrid">
    <b>{{ nome }}</b>, {{ nacionalidade }}, {{estadocivil}},
    portadora da cédula de identidade RG nº {{identidade}}, inscrito(a) CPF/MF nº {{cpf}},
    doravante denominado(a) <b>TITULAR</b>.
</p>

<p style="margin-left: 20%; text-align: justify;">
    Este termo de consentimento foi elaborado em conformidade com a lei geral de proteção de dados. Consoante ao artigo
    5º inciso XII da Lei 13.709, este documento viabiliza a manifestação livre, informada e inequívoca, pela qual o
    titular/ responsável concorda com o tratamento de seus dados pessoais e os dados do menor sob os seus cuidados, para
    as finalidades a seguir determinadas:
</p>

<h3>PARÁGRAFO PRIMEIRO - DO CONSENTIMENTO</h3>

<p style="text-align: justify">Ao assinar este termo o <b>TITULAR</b> concorda que a <b>CONTROLADORA</b>, proceda com o
    tratamento de seus dados.</p>

<p style="text-align: justify">Entende-se por tratamento de acordo com o artigo 5º inciso X, a coleta, produção,
    recepção, classificação,
    utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação,
    avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>

<h3>PARÁGRAFO SEGUNDO - DADOS PESSOAIS</h3>

<p style="text-align: justify">Poderão ser tratados mediante anuência expressa do titular/ responsável os seguintes
    dados pessoais, pelo(a) controlador(a): {{lista_tratamento}}.</p>

<h3>PARÁGRAFO TERCEIRO - FINALIDADE DO TRATAMENTO</h3>

<p style="text-align: justify">Em atendimento ao artigo 8º §4 este termo guarda finalidade determinada, sendo que os
    dados serão utilizados especificamente para fins de: {{lista_finalidade}}</p>

<h3>PARÁGRAFO QUARTO - SEGURANÇA DOS DADOS</h3>

<p style="text-align: justify">A Controladora responsabiliza-se pela manutenção de medidas de segurança, técnicas e
    administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas
    de destruição, perda, alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.</p>

{% if lista_tratamento %}

<p>{{controlador_local}}, {{datahora}}</p>

</br>
___________________________________________
<p> CONTROLADORA </p>
</br>
___________________________________________
<p> TITULAR </p>

{% else %}

<span style="font-size: 20px; color: red">Documento Inválido</span>
<p style="color: red">Preencha corretamente os itens de consentimento</p>

{% endif %}

</body>
</html>