table {
    border: 1px !important;
}

th, td {
  padding: 0px;
}

tr {
    font-size: 1em;
    height: 14px !important;
}

.btn {
    padding: 0px 0px;
    border-radius: 0px;
    border: 0px;
    padding: .2rem .5rem !important;
}

#

#height: 100% !important;

#btnpesquisa {
    height: 30px !important;
    margin-top: 10px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
}

#form-sousa {
    display: block;
    /* width: 100%; */
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}