{% extends "base.html" %}

{% load bootstrap %}

{% block script %}
$(document).ready(function(){
$("select").change(function(){
$("#btn").click();
});
});
{% endblock %}

{% block content %}

<script xmlns="http://www.w3.org/1999/html">
         function atualizar() {
            document.getElementById("btn_resetar").click();
         }
</script>

<form id="form" method="post">

    {% csrf_token %}

    <h2>Monitor de acessos</h2>

    <input style="float: right" type="date" name="data_inicial" value="{{data_inicial}}" onchange="atualizar()">
    <input name="btn_resetar" id="btn_resetar" type="submit" hidden>

    <div class="table-responsive-sm">
        <table class="table table-sm">
            <thead>
            <tr style="background-color: silver;">
                <th>Cliente</th>
                <th>Prim.Acesso</th>
                <th>Ult.Acesso</th>
                <th>Setor</th>
                <th width="40"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.cliente__nome }}</td>
                <td>{{ item.prim_acesso|date:'d/m/Y H:i' }}</td>
                <td>{{ item.ult_acesso|date:'d/m/Y H:i' }}</td>
                <td>{{ item.qt_setor }}</td>
                <td>
                    <a href="{% url 'url_cliente_update' item.cliente %}">
                        <button type="button" class="btn btn-sm" title="editar">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>

</form>

{% endblock %}
