{% extends "core/base.html" %}
{% load bootstrap %}

{% block breadcrumb %}
{{ block.super }}
<li>/</li>
<li><a href="{% url 'accounts:edit_password' %}">Editar Senha</a></li>
{% endblock %}


{% block content %}
<form class="pure-form pure-form-stacked" method="post">

    {% csrf_token %}

    <div class="jumbotron">

        <h2>Senha de Usuário</h2>

        <fieldset>
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="pure-control-group">
                {{ field|bootstrap }}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="pure-controls">

                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fas fa-save"></i>Alterar Senha
                </button>

                <a href="{% url 'url_user_edit' user.id %}">
                    <button type="button" class="btn btn-secondary" title="cadastro">
                        <i class="fas fa-edit"></i>Cadastro de usuário
                    </button>
                </a>
            </div>

        </fieldset>
    </div>

</form>
{% endblock %}