{% extends "core/base.html" %}
{% load static %}
{% load bootstrap %}

{% block titulo %} atendimento {% endblock %}

{% block content %}

<form method="POST">

    {% csrf_token %}

    {% if selecionado %}

    <div style="float: right; text-align: right; margin-top: 15px">
        <input type="submit" name="btn_salvar" value="Salvar">
    </div>

    <h1>Atendimento</h1>

    <div class="row">
        <div class="col-12 col-md-8">
            <label>Nome do Cliente</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" name="modo_pesquisa" value="modo_pesquisa" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <input type="text" value="{{ cliente }}" class="form-control" readonly>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <label>Nome do Contato</label>
            <select class="form-control" name="contato" id="contato">
                {% for m in lista_contato %}
                <option value="{{m.pk}}" {% if m == atendimento.contato %} selected{% endif %}>{{m}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3">
            <label>Módulo</label>
            <select class="form-control" name="modulo" id="modulo" required>
                {% for m in modulo_lista %}
                <option value="{{m.value}}" {% if m.value == modulo %} selected{% endif %}>{{m.label}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-6">
            <label>Ocorrência</label>
            <select class="form-control" name="ocorrencia" id="ocorrencia" required>
                {% for m in lista_ocorrencia %}
                <option value="{{m.pk}}" {% if m.value == ocorrencia %} selected{% endif %}>{{m}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-3">
            <label>Usuário</label>
            <input type="text" value="{{ username }}" class="form-control" disabled>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-9">
            <label>Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao"  value="{{ descricao }}" required>
        </div>
        <div class="col-12 col-md-3">
            <label>Previsão</label>
            <input type="date" class="form-control" id="previsao_dt" name="previsao_dt" value="{{ previsao_dt }}" required >
        </div>
    </div>

    <div class="form-group" {% if not pk %} hidden {% endif %}>
        <label>Observação</label>
        <textarea class="form-control" rows="3" id="observacao" name="obsercacao" value="{{ observacao }}"></textarea>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            {% if created_dt %}
            <input type="datetime-local" class="form-control" id="created_dt" name="created_dt" disabled>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% if updated_dt %}
            <input type="datetime-local" class="form-control" id="updated_dt" name="updated_dt" disabled>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% if termino_dt %}
            <input type="datetime-local" class="form-control" id="termino_dt" name="termino_dt" disabled>
            {% endif %}
        </div>
    </div>

    {% else %}

    {% include 'pessoa/pesquisa_pessoa.html' %}

    {% endif %}

    <input type="submit" value="Pesquisar" id="btn_seleciona" name="btn_seleciona" hidden>
    <input type="text" id="codigo_pesquisado" name="codigo_pesquisado" value="{{ codigo_pesquisado }}" hidden>


</form>
{% endblock %}