{% extends "core/base.html" %}
{% load static %}
{% load bootstrap %}

{% block titulo %} atendimento {% endblock %}

{% block content %}

<form method="POST">

    {% csrf_token %}

    {% if selecionado %}

    <div style="float: right; text-align: right; margin-top: 15px">
        {% if not user.is_consulta %}
        {% if not termino_dt %}
        <button type="submit" class="btn btn-primary" value="salvar" name="btn_salvar">
            <i class="fas fa-save"></i> Salvar
        </button>
        {% endif %}
        {% if created_dt and not inicio_dt and not termino_dt %}
        <button type="submit" class="btn btn-secondary" value="iniciar" name="btn_iniciar"
                onClick='return confirma("Deseja iniciar este atendimento?")'>
            <i class="fas fa-play-circle"></i> Iniciar
        </button>
        {% endif %}
        {% if inicio_dt and not termino_dt %}
        <button type="submit" class="btn btn-danger" value="encerrar" name="btn_encerrar"
                onClick='return confirma("Deseja encerrar este atendimento?")'>
            <i class="fas fa-stop-circle"></i> Encerrar
        </button>
        {% endif %}
        <a href="{% url 'url_atendimento_new' %}">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-file"></i> Novo
            </button>
        </a>
        {% endif %}

        {% if created_dt %}
        <a href="{% url 'url_atendimento_ficha' uuid %}">
            <button type="button" class="btn btn-secondary" title="imprimir ficha">
                <i class="fas fa-print"></i> Imprimir
            </button>
        </a>
        {% endif %}
        <a href="{% url 'url_atendimento' %}">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-list"></i> Lista
            </button>
        </a>

    </div>

    <h1>Atendimento</h1>

    <fieldset {% if termino_dt or user.is_consulta %} disabled {% endif %}>
        <div class="row">
            <div class="col-12 col-md-6">
                <label>Nome do Cliente</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit" name="modo_pesquisa" value="modo_pesquisa" class="btn btn-secondary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                    <input type="text" value="{{ cliente }}" class="form-control" readonly>
                </div>
            </div>
            <div class="col-12 col-md-3">

                <label>Quem solicita</label>
                <input type="text" value="{{ solicitante|default_if_none:'' }}" name="solicitante" class="form-control" required {% if inicio_dt%} readonly {% else %} autofocus {% endif %} >
            </div>
            <div class="col-12 col-md-3">
                <label>Nome do Contato</label>
                <select class="form-control" name="contato" id="contato" required {% if inicio_dt%} readonly {% endif %}>
                    {% for m in lista_contato %}
                    <option value="{{m.pk}}" {% if m.pk == contato %} selected{% endif %}>{{m}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-3">
                <label>Módulo</label>
                <select class="form-control" name="modulo" id="modulo" required {% if inicio_dt%} readonly {% endif %}>
                    {% for m in modulo_lista %}
                    <option value="{{m.value}}" {% if m.value == modulo %} selected{% endif %}>{{m.label}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label>Ocorrência</label>
                <select class="form-control" name="ocorrencia" id="ocorrencia" required {% if inicio_dt%} readonly {% endif %}>
                    {% for m in lista_ocorrencia %}
                    <option value="{{m.pk}}" {% if m.value == ocorrencia %} selected{% endif %}>{{m}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 col-md-3">
                <label>Usuário</label>
                <input type="text" value="{{ username }}" class="form-control" disabled>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                <label>Descrição</label>
                <input type="text" class="form-control" id="descricao" name="descricao"  {% if descricao %} value="{{ descricao }}" {% endif %} required {% if inicio_dt%} readonly {% endif %}>
            </div>
            <div class="col-12 col-md-4">
                <label>Previsão</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="previsao_dt" name="previsao_dt" value="{{ previsao_dt }}" min="{{ minimo_dt }}" required  {% if inicio_dt%} readonly {% endif %}>
                    <div class="input-group-append">
                        <input style="margin-left: 10px" type="time" class="form-control" value="{{ previsao_hora }}" name="previsao_hora" required {% if inicio_dt%} readonly {% endif %}>
                    </div>
                </div>
            </div>
        </div>

        {% if inicio_dt %}
        <div class="row">
            <div class="col-12">
                <label>Sobre o atendimento</label>
                <textarea class="form-control" rows="3" id="observacao" name="observacao" {% if inicio_dt%} autofocus {% endif %}>{% if observacao %}{{observacao}}{% endif %}</textarea>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-md-3">
                <label>Criado em:</label>
                <input type="text" class="form-control" {% if created_dt %} value="{{ created_dt }}" {% endif %} disabled>
            </div>
            <div class="col-12 col-md-3">
                <label>Atualizado em:</label>
                <input type="text" class="form-control" {% if updated_dt %} value="{{ updated_dt }}" {% endif %} disabled>
            </div>
            <div class="col-12 col-md-3">
                <label>Iniciado em:</label>
                <input type="text" class="form-control" {% if inicio_dt %} value="{{ inicio_dt }}" {% endif %} disabled>
            </div>
            <div class="col-12 col-md-3">
                <label>Encerrado em:</label>
                <input type="text" class="form-control" {% if termino_dt %} value="{{ termino_dt }}" {% endif %} disabled>
            </div>
        </div>
    </fieldset>

    {% else %}

    <h1>Inclusão de atendimento</h1>
    {% if created_dt %}
    <a style="float: right; margin-top: -50px" href="{{ absolute_url }}">
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-undo"></i> Voltar
        </button>
    </a>
    {% else %}
    <a style="float: right; margin-top: -50px" href="{% url 'url_atendimento' %}">
        <button type="button" class="btn btn-secondary">
            <i class="fas fa-list"></i> Voltar Lista
        </button>
    </a>
    {% endif %}

    {% include 'pessoa/pesquisa_pessoa.html' %}

    {% endif %}

    <input type="submit" value="Pesquisar" id="btn_seleciona" name="btn_seleciona" hidden>
    <input type="text" id="codigo_pesquisado" name="codigo_pesquisado" value="{{ codigo_pesquisado }}" hidden>

</form>
{% endblock %}



