{% extends "core/base.html" %}
{% load static %}
{% load bootstrap %}

{% block titulo %} atendimento {% endblock %}

{% block content %}
<form method="POST">

    {% csrf_token %}

    <div style="margin-top: 15px; float: right">
        <button type="submit" class="btn btn-info btn-sm">
            <i class="fas fa-search"></i>Pesquisar
        </button>
        {% if not user.is_consulta %}
        <a href="{% url 'url_atendimento_new' %}">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-file"></i> Incluir
            </button>
        </a>
        {% endif %}
    </div>

    <h1>Lista de Atendimento</h1>

    <div class="row">
        <div class="col-12 col-md-8">
            <label>Pesquise um valor</label>
            <input type="text" class=" form-control" name="descricao" value="{{ descricao }}" autofocus>
        </div>
        <div class="col-12 col-md-4">
            <label>Módulo</label>
            <select class="form-control" name="modulo">
                {% for m in modulos %}
                <option value="{{m.value}}" {% if m.value == modulo %} selected{% endif %}>{{m.label}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div style="margin-top: 10px" class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr style="background-color: silver;">
                <th>Cliente</th>
                <th>Ocorrência</th>
                <th>Usuário</th>
                <th>Previsão</th>
                <th>Início</th>
                <th>Término</th>
                <th width="80"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in lista %}
            <tr>
                <td>{{ item.contato.cliente|default_if_none:"" }}</td>
                <td>{{ item.ocorrencia.descricao|default_if_none:"" }}</td>
                <td>{{ item.usuario }}</td>
                <td>{{ item.previsao_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ item.inicio_dt|date:'d/m/Y H:i' }}</td>
                <td>{{ item.termino_dt|date:'d/m/Y H:i' }}</td>
                <td>
                    <a href="{% url 'url_atendimento_edit' item.uuid %}">
                        <button type="button" class="btn btn-sm" title="edit">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    <a href="{% url 'url_atendimento_ficha' item.uuid %}">
                        <button type="button" class="btn btn-sm" title="imprimir ficha">
                            <i class="fas fa-print"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4"><span>sem registros</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        {% include "core/paginacao.html" %}
    </div>

</form>
{% endblock %}