{% extends "core/base.html" %}
{% load static %}
{% load bootstrap %}

{% block titulo %} atendimento {% endblock %}

{% block content %}

<form method="POST">

    {% csrf_token %}

    {% if selecionado %}

    <h1>Atendimento</h1>

    <div class="row">
        <div class="col-12 col-md-8">
            <label>Nome do Cliente</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button type="submit" name="modo_pesquisa" value="modo_pesquisa" class="btn btn-secondary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <input type="text" value="{{ cliente }}" class="form-control" readonly>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <label>Nome do Contato</label>
            <select class="form-control" name="contato" id="contato">
                {% for m in lista_contato %}
                <option value="{{m}}" {% if m == atendimento.contato %} selected{% endif %}>{{m}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <label>Módulo</label>
            <select class="form-control" name="modulo" id="modulo">
                {% for m in modulo_lista %}
                <option value="{{m.value}}" {% if m.value == modulo %} selected{% endif %}>{{m.label}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 col-md-8">
            <label>Ocorrência</label>
            <select class="form-control" name="ocorrencia" id="ocorrencia">
                {% for m in lista_ocorrencia %}
                <option value="{{m}}" {% if m.value == ocorrencia %} selected{% endif %}>{{m}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-9">
            <label>Descrição</label>
            <input type="text" class="form-control" id="descricao" value="{{ descricao }}">
        </div>
        <div class="col-12 col-md-3">
            <label>Previsão</label>
            <input type="date" class="form-control" id="previsao_dt" name="previsao_dt" value="{{ previsao_dt }}" >
        </div>
    </div>

    {% if pk %}
    <div class="form-group">
        <label>Observação</label>
        <textarea class="form-control" rows="3" id="observacao" value="{{ observacao }}"></textarea>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-4">
            {% if created_dt %}
            <input type="datetime-local" class="form-control" id="created_dt" name="created_dt" disabled>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% if updated_dt %}
            <input type="datetime-local" class="form-control" id="updated_dt" name="updated_dt" disabled>
            {% endif %}
        </div>
        <div class="col-12 col-md-4">
            {% if termino_dt %}
            <input type="datetime-local" class="form-control" id="termino_dt" name="termino_dt" disabled>
            {% endif %}
        </div>
    </div>

    {% else %}

    {% include 'pessoa/pesquisa_pessoa.html' %}

    {% endif %}


</form>
{% endblock %}