{% extends "core/base.html" %}
{% load static %}
{% load bootstrap %}

{% block titulo %} Ocorrência {% endblock %}

{% block content %}
<form method="POST">

    {% csrf_token %}

    <h1>Ocorrências</h1>

    <div style="float: right; margin-top: -10px;">
        <button type="submit" value="btn_aplicar" name="btn_aplicar" class="btn btn-success">
            <i class="fas fa-save"></i> Salvar
        </button>
        <a href="{% url 'url_ocorrencia' %}">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-file"></i> Limpar
            </button>
        </a>
    </div>

    {{ form.descricao|default_if_none:""|bootstrap }}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr style="background-color: silver;">
                <th>Descrição da Ocorrência</th>
                <th width="90"></th>
            </tr>
            </thead>
            <tbody>
            {% for item in lista %}
            <tr>
                <td><span>{{ item.descricao|default_if_none:"" }}</span></td>
                <td>
                    <a href="{{ item.get_absolute_url }}">
                        <button type="button" class="btn btn-sm" title="editar">
                            <i class="fas fa-edit"></i>
                        </button>
                    </a>
                    <a href="{% url 'url_ocorrencia_remove' item.uuid %}">
                        <button type="button" class="btn btn-sm" title="excluir"
                                onClick='return confirma("Deseja remover este item?")'>
                            <i class="fas fa-trash"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4"><span>sem registros</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

</form>
{% endblock %}