<!DOCTYPE html>
{% load static %}
<html lang="br" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style type="text/css">

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding-top: 3px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 5px;
  vertical-align: top;
  vertical-align: top;
}

label {
    font-size: 10px;
}

span {width: 100%; }

body {
    font-weight: 200;
    font-size: 14px;
}

.pgrid {
    background-color: LightGrey;
    border-style: solid;
    padding: 5px
}

.titulo {
    text-align: center;
    font-size: 20px;
}
    </style>
    <title>Termo</title>
</head>
<body>

<table style="border: 0px; important!">
    <tr>
        <td><img height="35" src="{% static 'img/logo_assist_deitado.bmp' %}"></td>
        <td style="width:60%"><h3 class="titulo">FICHA DE OCORRÊNCIA</h3></td>
        <td><p style="text-align: right; margin-top:-50px"> {{ datahora }} </p></td>
    </tr>
</table>

<fieldset {% if not cliente.is_active %} disabled {% endif %}>

    <table>
        <tr>
            <td colspan="3">
                <label>CNPJ</label><br/>
                {{ cliente.cnpj }}
            </td>
            <td colspan="9">
                <label>Nome da Empresa</label><br/>
                {{ cliente.nome }}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>Endereço</label><br/>
                {{ cliente.logradouro|default_if_none:"" }}
            </td>
            <td colspan="2">
                <label>Número</label><br/>
                {{ cliente.numero|default_if_none:"" }}
            </td>
            <td colspan="4">
                <label>Bairro</label><br/>
                {{ cliente.bairro|default_if_none:"" }}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>Cidade</label><br/>
                {{ cliente.cidade|default_if_none:"" }}
            </td>
            <td colspan="1">
                <label>UF</label><br/>
                {{ cliente.uf|default_if_none:"" }}
            </td>
            <td colspan="2">
                <label>CEP</label><br/>
                {{ cliente.cep|default_if_none:"" }}
            </td>
            <td colspan="3">
                <label>Complemento</label><br/>
                {{ cliente.complemento|default_if_none:"" }}
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <label>Nome do Contato</label><br/>
                {{ contato.nome|default_if_none:"" }}
            </td>
            <td colspan="3">
                <label>Fone</label><br/>
                {{ contato.fone|default_if_none:"" }}
            </td>
            <td colspan="3">
                <label>Celular</label><br/>
                {{ contato.celular|default_if_none:"" }}
            </td>
        </tr>
        <tr>
            <td colspan="12">
                <label>Objetivo da Visita</label><br/>
                {{ ocorrencia.descricao }}
            </td>
        </tr>
        <tr>
            <td colspan="8">
                <label>Demanda</label><br/>
                {{ descricao|default_if_none:"" }}
            </td>
            <td colspan="4">
                <label>Solicitante</label><br/>
                {{ solicitante|default_if_none:"" }}
            </td>
        </tr>
        <tr>
            <td style="height: 200px;" colspan="12">
                <label>Atendimento Realizado</label><br/>
                {{ observacao|default_if_none:"" }}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <label>Abertura</label><br/>
                {{ created_dt|date:'d/m/Y H:i' }}
            </td>
            <td colspan="3">
                <label>Início</label><br/>
                {{ inicio_dt|date:'d/m/Y H:i' }}
            </td>
            <td colspan="3">
                <label>Término</label><br/>
                {{ termino_dt|date:'d/m/Y H:i' }}
            </td>
            <td colspan="3">
                <label>Atendente</label><br/>
                {{ usuario.name }}
            </td>
        </tr>
    </table>

</fieldset>

</body>
</html>